<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_126wUemIDg-Hn1enIrDQVJe6_Hxq2hw</string>
	<key>GCM_SENDER_ID</key>
	<string>150620856531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devming.couffeeeeea</string>
	<key>PROJECT_ID</key>
	<string>coffeeeea</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeeeea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150620856531:ios:7654e882fed44a1799b426</string>
</dict>
</plist>